<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <form action="" id="log_in">
                <p>Username</p>
                <input type="text" id="username">
                <p>Password</p>
                <input type="text" id="password">
                <button type="submit" id="login">Log In</button>
                <p>Not A Member?</p>
                <button type="submit" id="sigup">Sign Up</button>
            </form>
        </div>
    </div>
</div>