<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <form action="/register" method="POST">
                <p>E-mail</p>
                <input type="email" id="email" name="email" required>
                <p>Name</p>
                <input type="text" id="name" name="name" required>
                <p>Password</p>
                <input type="password" id="password" name="password" required>
                <button type="submit">Register</button>
            </form>
            <a href="/login">Login</a>
        </div>
    </div>
</div>
