<div class="container align-items-center center">
    <div class="col-lg-12 text-center my-auto">
        <div class="card card-block d-flex bg-primary">
            <div class="card-body align-items-center d-flex justify-content-center">
                <form class="signup">
                    <label for="email">E-mail</label>
                    <br>
                    <input type="email" id="email" name="email" required>
                    <br>
                    <label for="password">Password</label>
                    <br>
                    <input type="password" id="password" name="password" required>
                    <br>
                    <button type="submit" id="registerBTN">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/signup.js"></script>